.button {
    cursor: pointer;
    transition: background-color 0.125s linear;
    padding: 0.625rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.4em;
    border-radius: var(--border-radius-normal);
}

.button.priority {
    background: 
    linear-gradient(180deg, var(--clr-primary-60-faded) 0%, var(--clr-primary-60) 100%), 
    linear-gradient(0deg, var(--clr-primary-100), var(--clr-primary-100));

    border: 1px solid var(--clr-primary-20);
    border-radius: var(--border-radius-large);
    padding: 0.625rem 1.2rem 0.625rem 1rem;
}

.button.priority:hover {
    background: 
    linear-gradient(0deg, var(--clr-gradient-faded), var(--clr-gradient-faded)), 
    linear-gradient(180deg, var(--clr-primary-60-faded) 0%, var(--clr-primary-60) 100%), 
    linear-gradient(0deg, var(--clr-primary-100), var(--clr-primary-100)); 
}

.button.priority:active {
    background: 
    linear-gradient(0deg, var(--clr-gradient-faded), var(--clr-gradient-faded)), 
    linear-gradient(180deg, var(--clr-primary-60-faded) 0%, var(--clr-primary-60) 100%), 
    linear-gradient(0deg, var(--clr-primary-100), var(--clr-primary-100)); 
}

.button.primary {
    background-color: var(--button-primary-bg);
}

.button.primary:hover {
    background-color: var(--button-primary-hover-bg);
}

.button.primary:active {
    background-color: var(--button-primary-active-bg);
}

.button.square {
    padding: 0.625rem;
}

.button.square,
.button.secondary {
    background-color: var(--button-secondary-bg);
}

.button.square:hover,
.button.secondary:hover {
    background-color: var(--button-secondary-hover-bg);
}

.button.square:active,
.button.secondary:active {
    background-color: var(--button-secondary-active-bg);
}

.button.normal {
    background-color: var(--button-normal-bg);
    padding-block: 1em;
    gap: 0.8em;
}

.button.normal:hover {
    background-color: var(--button-normal-hover-bg);
}