.contactsWrapper {
    display: grid;
    grid-template-areas: "mid";
    font-family: "LexendDeca", sans-serif;
    background-color: var(--clr-primary-100);

    --border-clr: var(--clr-primary-60);
    --inline-content-padding: 1.4rem;
}

.contactsHeader {
    grid-area: mid;
    width: 100%;

    display: grid;
    grid-template-areas: "back title title lightdark"
    "options options options options";

    grid-template-rows: 1fr 1fr;
    height: var(--header-height);
    z-index: 10;
}

.headerItem {
    display: flex;
    align-items: center;
}

.headerItem:nth-child(3) {
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
}


.contactsContent {
    --padding-top: 1em;
    grid-area: mid;

    display: grid;
    min-height: 100svh;
    margin-inline: 1em;
    padding-top: calc(var(--padding-top) + 2 * max(var(--page-section-height), var(--page-section-height-min)));
    padding-bottom: 2em;
    padding-inline: var(--inline-content-padding);
    text-wrap: balance;
    color: var(--clr-text-100);
}

.headerBackButton {
    grid-area: back;
    justify-content: end;
}

.headerText {
    grid-area: title;
    font-family: "Glysa", sans-serif;
    justify-content: center;
    overflow: hidden;
}

.headerOptions {
    grid-area: options;
    justify-content: space-around;
    gap: 1em;
}

.headerLightDark {
    grid-area: lightdark;
    justify-content: start;
}

.contactList {
    display: flex;
    flex-direction: column;
    gap: 1.6em;
}

@media (min-width: 60rem) {
    .contactsHeader {
        grid-template-areas: ". . . ."
        "back title options lightdark";
        grid-template-columns: var(--inline-space) auto 1fr var(--inline-space);
    }

    .headerItem {
        border-top: 1px solid var(--border-clr);
        border-bottom: 1px solid var(--border-clr);
        padding: var(--inline-content-padding);
    }

    .headerItem:first-child,
    .headerItem:last-child {
        padding: 2rem;
    }

    .headerOptions {
        justify-content: end;
    }

    .contactsContent {
        margin-inline: var(--inline-space);
        border-left: 1px solid var(--border-clr);
        border-right: 1px solid var(--border-clr);
    }
}