.contactFormWrapper {
    grid-area: mid;
    align-self: center;
    justify-self: center;
    background: transparent;
}

.contactFormWrapper::backdrop {
    background-color: #00000066
}

.contactForm {
    --contact-form-width: 364px;
    background-color: var(--clr-primary-100);
    border-radius: var(--border-radius-normal);
    width: var(--contact-form-width);
    color: white;
    padding: 1.6em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formTitle {
    font-family: "Glysa", sans-serif;
    font-size: 1.6em;
}

.profilePictureInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-size: 14px;
}

.formActionButtonsWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.4em;
}


.inputFieldWrapper {
    display: flex;
    flex-direction: column;
    margin-block: 1em;
}

.inputLabel {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--clr-text-56);
    margin-block-end: 0.2rem;
}

.inputField {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--clr-text-100);
    background: var(--clr-primary-80);
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius-normal);
    padding: 0.5rem 0.75rem;
    outline: none;

}

.inputField::placeholder {
    color: var(--clr-text-32);
}

.inputField:focus {
    border: 1px solid var(--border-clr-focus);
    background: var(--clr-primary-60);
}

.profileImageInput {
    border-radius: var(--border-radius-rounded);
    max-width: 88px;
    max-height: 88px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.button {
    cursor: pointer;
    transition: background-color 0.125s linear;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 0.4em;
    border-radius: var(--border-radius-normal);
}

.buttonSquare,
.buttonPrimary {
    background-color: var(--button-primary-bg);
}

.buttonSquare:hover,
.buttonPrimary:hover {
    background-color: var(--button-primary-hover-bg);
}

.buttonSquare:active,
.buttonPrimary:active {
    background-color: var(--button-primary-active-bg);
}

.buttonSquare {
    padding: 8px;
}